.content {
  padding: 32px;
  background: #f8f9fd;
  min-height: 100vh;
  margin-left: 260px;
  transition: all 0.5s ease;
  /* border-radius: 50px 0 0 50px; */
}

.content.active {
  margin-left: 0px;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-content h3 {
  margin: 0;
  font-weight: 700;
  line-height: 42px;
}

.title-content h4 {
  margin: 0;
  font-weight: 600;
  line-height: 30px;
}

.title-content p {
  color: #828ea5;
}

.avatar {
  width: 50px;
  height: 50px;
  padding: 4px;
  object-fit: cover;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid var(--bs-primary);
  cursor: pointer;
}

.card {
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1rem;
}

.card-header {
  border: none;
  background-color: inherit;
  /* color: #0d1458; */
  font-weight: 600;
  margin-top: 10px;
}

/* Dark Theme */

body.dark {
  background-color: #181a1b;
}

body[data-bs-theme="dark"] {
  background-color: #181a1b;
}

body[data-bs-theme="dark"] .content {
  background-color: #1b1d1e;
}
.dark .content {
  background-color: #1b1d1e;
}

/* .dark .title-content h3 {
  color: #fff;
} */
