@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
@import url('./sidebar.css');
@import url('./content.css');

* {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 480px) {
  .sidebar {
    overflow-y: scroll;
  }
  .content {
    padding: 40px 16px;
    width: fit-content;
  }
}

@media (max-width: 767.98px) {
  .content {
    margin-left: 0;
    margin-bottom: 3rem;
  }
}
